.bg{
	background-image: url(clown.jpg);
}
.he{
	height: 100px;
}
.mama{
	margin-left: auto;
	margin-right: auto;
}
.hachi{
	height: 1500px;
}
.gap {
	height: 350;
}
.hehe{
	height: 200px;
}
.mu {
	margin-top: 20px;
}
.hah {
	height: 50px;
}
.fa { 
	padding-left:20px;
}
.pe {
	height: 40px;
}
.htu{
	height: 30px;
}
.stutu {
	height: 60px;
}
.br{
	border-radius: 30px;
}
.ml{
	margin-left: 30px;
}
.mll {
	margin-left: 20px;
}
.gapa {
	height:500px
}